/* NewMessageForm.css */

.new-message-form-container {
    margin-top: 20px;
  }
  
  .new-message-form-container h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .new-message-form-container form {
    display: flex;
    align-items: center;
  }
  
  .new-message-form-container input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .new-message-form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .new-message-form-container button:hover {
    background-color: #0069d9;
  }
  